/*** Custom CSS ***/

body {
	margin: 0px;
	margin-bottom: 0px;
	padding: 0px;
	font-family: helvetica, sans-serif;
}

header {
	background: #333 url('http://static.tumblr.com/wevwshx/Kegotethm/veil_nebula.jpg'); no-repeat center / cover;
	color: #fff;
}

header a {
	text-decoration: none;
	color: #fff;
}

header a:visited {
	color: #fff;
}

.container {
	max-width: 640px;
	margin: 0 auto;
	padding: 50px 0;
	text-align: center;
}

#posts {
  margin: 0 auto;
  width: 100%;
  max-width: 640px;
}

.post {
  color: #333;
  background-color: rgba(255,255,255,.5);
  width: auto;
  margin: 20px auto;
  padding: 25px;
  border-radius: 15px;
}

.like-reblog {
	margin-top: -20px;
	list-style-type: none;
	display: block;
}
